<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{block name="title"}{/block}</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/static/js/admin/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/css/admin/public.css" media="all" />
    <link rel="stylesheet" href="/static/css/admin/common.css" media="all"/>
    
    <style>.layui-form-mybottom{margin-bottom: 35px;}</style>

    <script type="text/javascript" src="/static/js/admin/jquery.js"></script>
    <script type="text/javascript" src="/static/js/public/common.js"></script>
    <script type="text/javascript" src="/static/js/admin/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/admin/lib/index.js"></script>
    {block name="css"}
    <style>
	.authselect {
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    text-align: center;
	    line-height: 16px;
	    font-size: 12px;
	    border: 1px solid #DDD;
	    border-radius: 100%;
	    background: #FFF;
	    color: #FFF;
	    margin-left: 5px;
	    font-family: Tahoma, Geneva, sans-serif;
	}
	.authselect.on {
	    border: 1px solid #009688;
	    color: #009688;
	}
	</style>
    {/block}
</head>
<body class="childrenBody">
{block name="main"}
<!--主内容-->
{/block}

{block name="script"}
<!--脚本-->
{/block}
</body>
</html>